<div class="article-wrapper">
  {{#if pagination.prev}}

  <div id="timeline" data-columns>

    {{#foreach posts ~}}

    <article class="item loading {{post_class}}{{#if featured}} featured{{/if}}">
      <header class="post-header">
        <span class="post-meta">
		                  <time datetime="{{date published_at timeago="true"}}">{{date published_at timeago="true"}}</time>
		                  {{#if tags}}<span class="tagged"> on {{tags}}</span>{{/if}}
        </span>
        <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{{title}}}</a></h2>
        {{#if image}}<img src="{{image}}" style="max-width:100%;max-height:100%;">{{/if}}
      </header>
      <section class="post-excerpt">
        <p>{{excerpt}}&hellip; <a href="{{url}}" title="{{title}}" class="more-link">Read&nbsp;more&nbsp;&rarr;</a></p>
      </section>
    </article>


    {{~/foreach}}

  </div>

  {{else}} {{#foreach posts ~}} {{#if @first}}
  <article class="item loading latest-post">
    <header class="post-header">
      <span class="post-meta">
          <time datetime="{{date published_at timeago="true"}}">{{date published_at timeago="true"}}</time>
          {{#if tags}}<span class="tagged"> on {{tags}}</span>{{/if}}
      </span>
      <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{{title}}}</a></h2>
        {{#if image}}<img src="{{image}}" style="max-width:100%;max-height:100%;">{{/if}}
    </header>
    <section class="post-excerpt">
      <p>{{excerpt}}&hellip; <a href="{{url}}" title="{{title}}" class="more-link">Read&nbsp;more&nbsp;&rarr;</a></p>
    </section>
  </article>

  {{/if}} {{~/foreach}}

  <div id="timeline" data-columns>

    {{#foreach posts}} {{#unless @first}}
    <article class="item loading {{post_class}}">
      <header class="post-header">
        <span class="post-meta">
				                  <time datetime="{{date published_at timeago="true"}}">{{date published_at timeago="true"}}</time>
					                  {{#if tags}}<span class="tagged"> on {{tags}}</span>{{/if}}
        </span>
        <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{{title}}}</a></h2>
        {{#if image}}<img src="{{image}}" style="max-width:100%;max-height:100%;">{{/if}}
      </header>
      <section class="post-excerpt">
        <p>{{excerpt}}&hellip; <a href="{{url}}" title="{{title}}" class="more-link">Read&nbsp;more&nbsp;&rarr;</a></p>
      </section>
    </article>

    {{/unless}} {{/foreach}}

  </div>
  {{/if}}

</div>