<!DOCTYPE html>
<html>

<head>
    {{!-- Document Settings --}}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="google-site-verification" content="" />
    <meta name="description" content="{{meta_description}}"/>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="{{asset "/js/config.js"}}"></script>

    <link rel="stylesheet" src="//polyfill.io/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="{{asset "/css/style.min.css"}}"/>

    {{!-- Ghost outputs important style and meta data with this tag --}}
	{{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{!--{{navigation}}--}}

    <header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        {{!--<nav class="main-nav overlay clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{#if @blog.navigation}}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {{/if}}
        </nav>--}}
        <div class="vertical">
        <a href="/" title="{{@blog.title}} - {{@blog.description}}">
            <div id="site-head-content" class="inner">
                <h1 class="blog-title{{#if @blog.logo}} image-logo{{/if}}"{{#if @blog.logo}}
                style="background-image: url('{{@blog.logo}}')"{{/if}}>
                {{@blog.title}}
                </h1>
            </div>
        </a>
        </div>
    </header>

    <div class="site-wrapper">
        {{{body}}}

        <footer class="site-footer">
            <div class="inner">
                <div class="about">
                    <h3>About {{@blog.title}}</h3>
                    <p>{{@blog.description}}</p>
                </div>
                <div class="get-connected">
                    <p></p>
                    <p class="poweredby">
                        Proudly powered by <a href="http://www.ghost.org" target="_blank">GHOST</a>.<br/>
                        Theme based on <a href="https://github.com/viktorbezdek/ghostentista"title="ghostentista 1.0.0 beta by Viktor Bezdek">ghostentista</a>
                        by Viktor Bezdek</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Fitvids makes video embeds responsive and awesome --}}
    {{!--<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>--}}

    {{!-- The main JavaScript file for mv-ghostentista --}} 
    <script src="{{asset "js/index.min.js"}}"></script>

</body>
</html>
