{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}



<main id="main-content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

	<div class="cf"></div>
	<nav id="pagination">
	    {{#if pagination.prev}}
	        <a href="{{page_url pagination.prev}}" id="prev-posts">&laquo; Previous page</a>
	    {{/if}}
	    {{#if pagination.next}}
	        <a href="{{page_url pagination.next}}" id="next-posts">&raquo; Next page</a>
	    {{/if}}
	</nav>
</main>

<ul id="related-posts-container" class="hidden">
	{{#foreach posts}}
          <li><a href="{{url}}" title="{{title}}">{{title}} &rarr;</a></li>
	{{/foreach}}
</ul>

